*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
     /* display: flex;
     justify-content: center;  */
      background-color: white; 
     padding-top: 12px;
     /* text-align: center; */
     /* min-height: 100vh; */
     font-family:"inter", sans-serif ;
    
} 

.container{
    width: 360px;
    height: 620px; 
    margin: auto;
    background-color:white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    

    
    
    


 h2 {
    margin-top: 20px;
    font-size:24px;
    line-height: 32px;
    font-weight: 600(semi-bold);
    
}



input{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    background-color: rgb(245, 241, 241);
     font-size: 16px; 
    line-height: 24px;
    font-weight: 400(Regular);

}

button{
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 20px;
    background-color: gray; 
    background-color: #1dbb1d;
   color:white;
   border-radius: 12px;
}

button:hover{
   /* background-color: greenyellow; */
   background-color: gray;
   transition:all 0.4s ease;
   cursor: pointer;

}

p{
    margin: 10px;
     /* font-size: 18px; */
    line-height: 26px; 
    font-weight: 600(semi bold);
                               
}



img{
    height:60px;
    
}


@media screen and (max-width:768px) {
    .container{
        width: 90%;
        padding: 15px;
    }
    h2{
        font-size: 22px;
    }
    input{
        font-size: 22px;
    }

    input[type="button"]{
        height: 45px;
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }

    @media screen and (max-width:480px) {
        h2{
            font-size: 20px;
        }
        input{
            font-size: 14px;
        }
        input[type="button"] {
            height: 45px;
            font-size: 14px;

        }
        p{
            font-size: 12px; 
        }
    }

}
 