    *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
      justify-items: right;

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    min-width: 320px;
    max-width: 900px;
    gap: 10px;    
}
sup{
    color: red;
}
form{
    display: flex;
    flex-direction: column;
    justify-items: right;

}
h2{
    text-align: center;
}
input{
        width: 20em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 700;
    text-align: justify;
    border: none;
    padding: 10px;

}
select{
        width: 20em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 700;
    text-align: justify;
    border: none;
    padding: 10px;

}

button{
         width: 24em;
    height: 4em;
    border-radius: 10px;
       background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
/*     font-weight: 600; */
  font-size:10px;
    text-align: center;
    border: none; 
}
       button{
        font-size:20px;
        font-weight:600;
      }
  form a{
     color: black;
     font-weight: 800;
        padding-top:5px ;
        font: 30px;
        text-decoration: none;
    }


    @media (max-width:1440px) {
        body{
     padding: 20px;
        }   
        
        
        form{
        box-sizing: content-box;
    justify-items: center;

        display: flex;
        padding-top: 70px;
    gap: 10px;    



    }
    h2{
        font-size:2em;
        font-weight: 600;
    }
        select{
        width: 32em;
    height: 6em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    text-align: justify;
    border: none;
    padding: 10px;
       font-weight: 700;
    font-size: 20px;
    }

        input{
        width: 32em;
    height: 6em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    text-align: justify;
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    }
    button{
         width: 32em;
    height: 4em;
    border-radius: 10px;
        background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    text-align: center;
    border: none; 
       font-weight: 600;
    font-size: 20px;
}
  form a{
     color: black;
     font-weight: 800;
        padding-top:5px ;
               font: 30px;
        text-decoration: none;
    }

    }
@media (max-width:1240px) {

    form{
        box-sizing: content-box;
        display: flex;
        padding-top: 70px;
    gap: 10px;    
    font-size: 30px;
    font-weight: 500;

    }
    h2{
        font-size:2em;
        font-weight: 600;
    }
        select{
        width: 32em;
    height: 6em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    text-align: justify;
    border: none;
    padding: 10px;
       font-weight: 700;
    font-size: 20px;
    }

        input{
        width: 32em;
    height: 6em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    text-align: justify;
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    }
    button{
         width: 32em;
    height: 4em;
    border-radius: 10px;
      background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    text-align: center;
    border: none; 
       font-weight: 700;
    font-size: 20px;
}
  form a{
     color: black;
     font-weight: 800;
        padding-top:5px ;
               font: 30px;
        text-decoration: none;
    }
}



@media (max-width:900px) {
    form{
        box-sizing: content-box;
        display: flex;
        /* padding-top: 20px; */
    gap: 10px;    
    font-weight: 600;
    font-size: 20px;

    }
    select{
        width: 30em;
    height: 4em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 500;
    text-align: justify;
    border: none;
    padding: 10px;

    }

        input{
        width: 30em;
    height: 4em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    text-align: justify;
    border: none;
    padding: 10px;

    }
        button{
         width: 30em;
    height: 4em;
    border-radius: 10px;
        background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    text-align: center;
    border: none; 

    }
      form a{
     color: black;
     font-weight: 800;
    font-size: 50px;

        padding-top:5px ;
        text-decoration: none;
    }
}


@media (max-width:600px) {
    form{
        box-sizing: content-box;
        display: flex;
        padding: 0 20px 0 20px;

    }
    h2{
        font-weight: 600;
        font-size: 40px;
    }
        select{
        width: 26em;
    height: 4em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 500;
    text-align: justify;
    border: none;
    padding: 10px;
    }

        input{
        width: 26em;
    height: 4em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 500;
    text-align: justify;
    border: none;
    padding: 10px;
    }
    button{
         width: 26em;
    height: 4em;
    border-radius: 10px;
        background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    text-align: center;
    border: none; 
    }
   form a{
     color: black;
     font-weight: 800;
        padding-top:5px ;
               font: 30px;
        text-decoration: none;
    }
}



@media (max-width:580px) {
    form{
        box-sizing: content-box;
        display: flex;
        padding-top: 20px;
        gap: 10px;
        font-size: 10px; 
        font-weight: 600;   

    }
    h2{
        font-weight: 200;
        font-size: 40px;
    }
        select{
        width: 20em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 200;
    text-align: justify;
    border: none;
    padding: 10px;
    }

        input{
        width: 20em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 200;
    text-align: justify;
    border: none;
    padding: 10px;
    }    button{
         width: 20em;
    height: 3em;
    border-radius: 10px;
        background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    text-align: center;
    border: none; 
    }

      form a{
     color: black;
     font-weight: 800;
        padding-top:5px ;
        font-size: 40px;
               font: 10px;
        text-decoration: none;
    }
}
@media (max-width:480px) {
        form{
        box-sizing: content-box;
        display: flex;
        padding-top: 20px;
        gap: 10px;
        font-size: 15px;
        font-weight: 600;    

    }
    h2{
        font-weight: 600;
        font-size: 40px;
    }
        select{
        width: 15em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 200;
    text-align: justify;
    border: none;
    padding: 10px;
    }

        input{
        width: 15em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 200;
    text-align: justify;
    border: none;
    padding: 10px;
    }    button{
         width: 15em;
    height: 3em;
    border-radius: 10px;
       background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    font-weight: 200;
      font-size:20px;
    text-align: center;
    border: none; 
    }

      form a{
     color: black;
     font-weight: 800;
        padding-top:5px ;
               font: 20px;
        text-decoration: none;
    }

}
@media (max-width:320px) {
    form{
        box-sizing: content-box;
        display: flex;
        padding-top: 20px;
        gap: 10px;    

    }
    h2{
        font-weight: 200;
        font-size: 5px;
    }
        select{
        width: 5em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 200;
    text-align: justify;
    border: none;
    padding: 10px;
    }

        input{
        width: 5em;
    height: 3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: blACK;
    font-weight: 200;
    text-align: justify;
    border: none;
    padding: 10px;
    }    button{
         width: 5em;
    height: 3em;
    border-radius: 10px;
        background-color:  rgb(17, 188, 17);

    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    font-weight: 200;
    text-align: center;
    border: none; 
    }

      form a{
     color: black;
     font-weight: 200;
        padding-top:5px ;
               font: 10px;
        text-decoration: none;
    }
}