    *{
        box-sizing: border-box;
    }

    body{
        justify-self: center;
        background-color: white;
        display: flex;
        flex-direction: column;
       padding: 20px;
       font-family: Arial, Helvetica, sans-serif;

    }
    .success{
        justify-self: center;
        margin-top: 100px;
    }
    .ike{
        justify-items: center;
                width: 10em;
        height: 10em;
        background-color: rgb(225, 247, 225);
        border-radius:200px;
        padding-top: 15px;
        justify-self: center;
       

    }
    .icon{
        width: 8em;
        height: 8em;
        border-radius:100px;
        background-color: rgb(17, 188, 17);

        text-align: center;
    }
    .icon i{
        color:white ;
        font-size: 100px;
        padding: 10px;
    }
    h2{
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
    }
    p{
        font-size: 18px;
        font-weight: 600;
        margin-top: 40px;

    }
    button{
    width: 25em;
    height: 3em;
    border-radius: 10px;
    background-color:  rgb(17, 188, 17);
    margin-top: 80px;
    box-shadow: 1px 3px 9px rgba(0,0,0,0.4) ;
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;   
    }